	<div class="container login-container">
            <div class="row">

                <div class="login-form-2">
                    <h3>Admin Portal</h3>
                    <form class="login-form">
                        <div class="form-group">
                            <input type="text" name="admin" class="form-control" placeholder="Enter Admin Id *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password"  name="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">

                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>